<%-include ('../partials/header')%>

<div class='card-img-top mb-4'>
<h3>
    <%=cohort.cohort_name%>
</h3>
<p>
    <%=cohort.members%>
</p>
</div>







<form action='/cohorts/<%=cohort.id%>'> 

<div>
    <h4>Method</h4>
    <div class="custom-control custom-radio">
        <input type="radio" name="teamCount" method="teamCount" class="custom-control-input">
        <label class="custom-control-label">Team Count</label>
    </div>
    <div class="custom-control custom-radio">
        <input type="radio" name="numberPerTeam"  method="numberPerTeam" class="custom-control-input">
        <label class="custom-control-label">Number Per Team</label>
    </div>
</div>

<div class="custom-control custom-radio">
    <label class="custom-control-label">Quantity</label>
    <input text="radio" name="quantity" class="custom-control-input">
</div>

`<input type="submit" value="Assign_Team">
</form>



<div><%if(teamCount && quantity || numberPerTeam && quantity){%>
   <!-- const memberCohort = cohort.members
   const memberCohortArray = memberCohort.split(',')
  const numberCohort = memberCohort.split(',').length
  const randomMemberArray = memberCohortArray;
    for(let i =0; i<100; i++){
let loc1 =Math.floor(Math.random()*randomMemberArray.length);
let loc2 =Math.floor(Math.random()*randomMemberArray.length);
let tmploc = randomMemberArray[loc1];

randomMemberArray[loc1] = randomMemberArray[loc2];
randomMemberArray[loc2] = tmploc;
    }
    if(teamCount){
    const memberPerTeam = Math.floor(numberCohort/quantity)
   const extraMember = randomMemberArray.slice(-numberCohort%memberPerTeam)%>
    const allTeamArray = [];
   let singleTeamArray = [];
    for(let i =1;i<numberCohort+1;i++){
       if(i%memberPerTeam === 0){
            singleTeamArray.push(randomMemberArray[i-1])
            allTeamArray.push(singleTeamArray)
            singleTeamArray = [];
       }else{
            singleTeamArray.push(randomMemberArray[i-1])
        }
    } -->
<%for(let i=0;i<allTeamArray.length;i++){%>
       <div><%=i+1%>   <%=allTeamArray[i]%></div> 
<%}%>
<%}%>
</div>





<form action = '/cohorts/<%=cohort.id%>' method ='POST'>
    <input type='hidden' name ='_method' value="DELETE">
    <input
        type='submit'
        class = 'btn btn-outline-danger'
        value='Delete'
    >
</form>
</div>
<div>
    <a class='btn btn-outline-success' href='/cohorts/<%=cohort.id%>/edit'>Edit</a>
</div>











<%-include ('../partials/footer')%>